<h2>My Heroes <span class="badge">{{heroes.length}}</span></h2>

<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>

<button (click)="getHeroes()">refresh</button>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <hero-row [heroId]="hero.id" (onSelect)="select(hero)" (onDelete)="delete(hero)"></hero-row>
  </li>
</ul>
